.bannerd{
  
    width: 100%;
    height: 250px;
    position: absolute;
    margin-top: 10rem;
    background-color: #4C516D;
    z-index: 1; /* Keep this element behind the .imaged */
}
.text{
    margin-top: 1rem;
    margin-left:35rem
}
.text h1{
    font-size:3rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: 100;
    color: white;
    align-items: center;
}
.text h1 span{
    font-size:2rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: 10;
    color: white;
    padding-left: 1rem;


}
