.flex{ 
  display: flex;  

}


.home{
    border:none;
    margin-left:7rem;
    height: 100vh;
    width: 35%;
    background-color: beige;
    background-size: 100hv;
    padding-top: 35rem;
}

.about{
  padding-right:22rem;
  padding-top: 35rem;
  background-color: #edeeef;
  width: 10rem;
}
