.flex{ 
  display: flex;  

}


.home{
    border:none;
    margin-left:7rem;
    
    width: 35%;
    background-color: beige;
    background-size: 100hv;
    padding-top: 35rem;
}

.about{
 
  padding-top: 35rem;
  background-color: #edeeef;
  width: 32rem;
}
